* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Trebuchet MS, sans-serif;
    background-color:#FFFFF0;
    color: #e0e01a;
    line-height: 1;
}

h1 {
    padding: 30px;
    padding-left: 500px;
}

input {
    display: inline-block;
}

label {
    text-align: center;
    margin-left: 500px ;
}
